.sidebar {
    width: 170px;
    background-color: #A9ADB6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    border-radius: 20px;
    margin: 12px;
    
  }
  
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
    border: none;          
    outline: none;         
    background: none;       
    box-shadow: none;  

  }
  
  #santi{
   
    font-size: 17px;
    
  }
  
  .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }